* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  top: 0;
  border: 1px;
  display: grid;
  width: 1024px;
  margin: 0 auto;
  padding: 0 5px;
  align-items: center;
}

/* HEADER */
.header {
  z-index: 1;
  height: 100px;
  padding: 0 5px;
  position: relative;
  margin-bottom: 2px;
  align-items: center;
  border-radius: 5px;
  background-size: cover;
  border: 1px solid #ccc7c8;
  background-image: url(/lab2/images/header.png);
}

.logo-container,
.menu-container {
  z-index: 2;
  display: grid;
  grid-area: logo;
  text-align: center;
  align-items: center;
  justify-items: start;
  grid-template-rows: auto 2fr;
  grid-template-columns: 1fr auto;
}

.menu-item {
  display: inline-block;
  margin: 1.5rem 0;
}

nav a {
  margin: 3px;
  height: 20px;
  font-size: 17px;
  padding: 2px 4px;
  color: #ed4190;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;
  box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
}

/* chỉnh màu nền và đường viền cho link khi hover */
.menu-container a:hover {
  color: #fff;
  background-color: #ed4190;
}

.img-transfer {
  width: 1024px;
}

/* Khai báo các rule cho các hình ảnh header */
.header-img1 {
  left: 80%;
  top: -30px;
  height: 100px;
  position: absolute;
  animation-name: move1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.header-img2 {
  top: -5px;
  left: 80%;
  height: 70px;
  position: absolute;
  animation-name: move2;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.header-img3 {
  top: 0px;
  left: 80%;
  height: 80px;
  position: absolute;
  animation-name: move3;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.search-btn {
  padding: 4px;
  max-width: 30px;
  color: #fff;
  text-align: center;
  background-color: #cddc39;
}

.shopping-cart-btn {
  padding: 4px;
  max-width: 30px;
  color: #ed4190;
  text-align: center;
  background-color: #cddc39;
}

/* END HEADER */

main {
  display: grid;
  border: 1px solid #ccc7c8;
  border-radius: 5px;
  padding: 0 5px;
}

/* FOOTER */

footer {
  position: relative;
  margin: 2px 0;
  padding: 0 5px;
  /* height: 20px; */
  border-radius: 5px;
  border: 1px solid #ccc7c8;
  border-collapse: collapse;
  text-align: center;
  line-height: 2.5em;
}

.brands {
  color: #ed4190;
  text-decoration: none;
}

.back-to-top {
  position: fixed;
  bottom: 5px;
  right: 10px;
  padding: 10px;
  color: #ed4190;
  text-align: center;
  z-index: 100;
}

.back-to-top-img {
  height: 40px;
  width: 40px;
}

/* KEYFRAMES */
/* Khai báo keyframes cho các hình ảnh header */
@keyframes move1 {
  from {
    left: 80%;
  }
  to {
    left: 30%;
  }
}

@keyframes move2 {
  from {
    left: 80%;
  }
  to {
    left: 45%;
  }
}

@keyframes move3 {
  from {
    left: 80%;
  }
  to {
    left: 63%;
  }
}
