body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-cell"
    "nav-cell"
    "main-cell"
    "footer-cell";
  margin: 0 auto;
  border: 1px;
  padding: 0 5px;
  width: 1024px;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.2em;
}

header {
  grid-area: header-cell;
}

nav {
  grid-area: nav-cell;
}

main {
  display: grid;
  grid-area: main-cell;
  grid-template-columns: 1fr;
  grid-template-areas:
    "product-cell"
    "member-cell"
    "instruct-cell"
    "transaction-cell";
  border: 1px solid #ccc7c8;
  border-radius: 5px;
  padding: 0 5px;
  background-color: #fff;
  max-width: 1024px;
  margin: 0 auto;
}

.product {
  grid-area: product-cell;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "name-pd"
    "content-pd";
}

.product-left-cell {
  grid-area: product-left-cell;
  grid-column: 1/2;
}

.product-right-cell {
  grid-area: product-right-cell;
  grid-column: 2/3;
}

.content-pd {
  grid-area: content-pd;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  /* grid-template-areas:
    "product-left-cell"
    "product-right-cell"; */
}

.name-pd {
  grid-area: name-pd;
}

.member {
  grid-area: member-cell;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "name-content"
    "left-cell"
    "right-cell";
}

.instruct {
  grid-area: instruct-cell;
}

.transaction {
  grid-area: transaction-cell;
}

.left-cell {
  grid-column: 1 / 2;
  grid-area: left-cell;
}

.right-cell {
  grid-area: right-cell;
}

article {
  grid-area: article-cell;
}

footer {
  grid-area: footer-cell;
}
